  <%= turbo_frame_tag "#{pokemon.name}hp" do %>
    <div class="hp">
      <% unless pokemon.fainted? %>
        <%= "#{pokemon.hp}/#{pokemon.max_hp}" %>
      <% else %>
        <%= "KO" %>
      <% end %>
    </div>
  <% end %>
