  <%= turbo_frame_tag "message" do %>
    <div class="messages" data-battle-target="message">
      <p><%= "> #{@battle.message} #{@battle.user.hp}" %>
      <%= link_to fa_icon('angle-double-right'), attack_battle_path(@battle, move: @battle.adversary.moves.sample, attacker: @battle.adversary, defender: @battle.user), data: { turbo_frame: "#{@battle.user.name}hp message", animation_target: "attack", action: "click->animation#ojump" } %></p>
    </div>
  <% end %>
