    <div class="status">
      <% statuses = { "poison"=> "PSN", "sleep"=> "SLP", "burn"=> "BRN", "freeze"=> "FRZ", "paralyze"=> "PAR", "confuse"=> "CON" } %>
      <% if statuses.has_key?(pokemon.status) %>
        <%= "#{statuses[pokemon.status]}" %>
      <% end %>
    </div>
