    <div class="status">
      <% statuses = { "poison"=> "PSN", "sleep"=> "SLP", "burn"=> "BRN", "freeze"=> "FRZ", "paralyze"=> "PAR", "confuse"=> "CON" } %>
      <% if pokemon.status? %>
        <% if pokemon.status.include?("poison") %>
          <%= "#{statuses["poison"]}" %>
        <% end %>
      <% end %>
    </div>
