@font-face {
  font-family: 'Sabo-Filled';
  src: url('Sabo-Filled.otf');
  font-family: 'Sabo-Regular';
  src: url('Sabo-Regular.otf');
}

@import "font-awesome";

body {
  font-family: 'Sabo-Regular';
}

a, a:visited {
  color: black;
}

.invisible {
  display: none;
}

.arena {
  /* border: 1px solid black; */
  width: 70vw;
  height: 70vh;
  margin: auto;
  margin-top: 10vh;
  position: relative;
}

.actions {
  width: 22vw;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 20vw;
  background-color: lightgray;
  text-align: center;
  font-size: 24px;
  padding-top: 16px;
  opacity: 0.7;
}

.pokemon {
  border: 1px solid darkgray;
  position: absolute;
  font-size: 56px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.6);
  padding: 16px 32px;
}

.pokemon img {
  width: 20vw;
  padding: 0px;
}

.name {
  text-align: center;
  padding: 0px;
}

#user {
  bottom: -4vw;
  right: -4vw;
}

#adversary {
  top: -4vw;
  left: -4vw;
}

.info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.messages {
  position: absolute;
  top: 0;
  right: 0;
  border: 4px gray solid;
  padding: 16px;
  font-size: 20px;
  justify-content: left;
  text-align: left;
}

ul {
  list-style-type: none;
  margin-left: 0;
  text-align: left;
}
