@font-face {
  font-family: 'Sabo-Filled';
  src: url('Sabo-Filled.otf');
  font-family: 'Sabo-Regular';
  src: url('Sabo-Regular.otf');
}

@import "font-awesome";

body {
  font-family: 'Sabo-Regular';
}

h1 {
  font-size: 80px;
}

.container {
  width: 80%;
  margin: auto;
}

.btn {
  width: 100%;
  border-radius: 4px;
  font-size: 32px;
  font-family: "Sabo-Regular";
}

.btn-link {
  font-family: "Sabo-Regular";
  font-size: 32px;
  border: none;
  margin: 4vh auto;
}
